<h1>Manage Your Device </h1> 
<p>This page offers the ability to register your device for online monitoring, 
  as well as the monitoring panel it self</p>

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Register Device</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Manage Device</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Real-Time Device Monitoring</a>
      </li>
    </ul>
  </div>
  <div class="card-block">
    <h4 class="card-title">Special title treatment</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>