<nav class="navbar navbar-inverse bg-primary" style="margin-bottom:30px;" >
  <a class="navbar-brand" href="#"> AKM Taiwan Smart Device </a>
</nav>

<div class="container">
<div class="row row-offcanvas row-offcanvas-left" [class.active]="menuShow">
  
  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="list-group">
    <a [routerLink]="['./']"  class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Home</a>      
    <a [routerLink]="['./profile']" class="list-group-item" routerLinkActive="active">Account Profile</a>    
    <a [routerLink]="['./manage']"  class="list-group-item" routerLinkActive="active">Manage Device</a>
    <a [routerLink]="['./smart']"   class="list-group-item" routerLinkActive="active">Smart Application</a>
    <a [routerLink]="['./about']"   class="list-group-item" routerLinkActive="active">About</a>
    <button type="button" class="list-group-item list-group-item-action" (click)="logout()" style ="text-align:left">Log out</button>
    </div>
  </div>

  <div class="col-xs-12 col-sm-9">
    <p class=" hidden-md-up">
      <button type="button" class="btn btn-primary btn-sm btn-block" (click)="menuToggle()">Toggle nav</button>
    </p> 
    <div class="container"><router-outlet></router-outlet></div>
  </div>

</div> <!--/.row-->
</div><!--/.container-->


