<div align="justify">
<p>Asahi Kasei Microdevices (AKM) traces its roots to the 1980s, when the Asahi Kasei Group began developing its semiconductor business. Since then, we have continued to grow along with advances in the electronics industry by providing customers with optimum solutions based on a wide variety of sensing devices using compound semiconductor technology and IC products featuring analog/digital mixed-signal technology.</p>

<p>In particular, our magnetic sensors for controlling motor rotation, and audio & voice ICs that provide high-quality sound with low power consumption, have gained strong recognition among customers around the world. We continue to develop unique new products that create value for our customers by combining circuit and material technology with package, software, test and implementation technology. Recent examples include sensor devices and motor driver ICs used in image stabilization and autofocus systems for cameras, infrared sensors featuring ultra-small size, fast response, and static human detection, and azimuth angle sensors (e-compasses) that are essential for mobile devices such as smartphones and tablets.</p>

<p>In addition to products for mobile communications and consumer electronics, we are also expanding in the fields of automotive electronics and industrial equipment as AKM continues to advance as a core business of the Asahi Kasei Group.</p>
<p>Throughout our history of development and growth, we have always been guided by the needs of our customers, and we remain committed to working together with you to achieve the solutions that truly meet your requirements. We look forward to continuing to serve you with superior AKM products.</p>
</div>

<h2>History</h2>
<ul>
  <li>1987 	AKM Atsugi wafer fabrication facility started its operation</li>
  <li>1993 	AKM Nobeoka wafer fabrication facility started its operation</li>
  <li>1996 	Opened a office in Europe</li>
  <li>2008 	Establiched a local subsidiary in Europe (Paris, France)</li>
  <li>2009 	Transferred electronics material business to Asahi Kasei e-Materials, renamed Asahi Kasei Microdevices Corporation </li>
</ul>
